@import './../../../../../constants/variables';

.cartIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 44px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }
    svg{
        width: 30px;
        height: 30px;
        fill: $colorsGrey0;
    }
    
}
.cartIcon_productQuantity-wrapper{
    display: flex;
    width: 15px;
    height: 15px;
    left: 47px;
    bottom: 30px;
    justify-content: center;
    position: absolute;
    z-index: 1;
    align-items: center;
    color: $colorsGrey0;
    @media(max-width: 1200px){
        left: 40px;
    }
    @media(max-width: 770px){
        left: 70px;
    }
    @media(max-width: 550px){
        left: 50px;
    }
}
.cartIcon_productQuantity-displayNone{
    display: none;
}