@import '../../../../../constants/variables';

.headersearchbar {
    display: flex;
    width: 49%;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    border-radius: 2px;
    background-color: $colorsGrey0;
    @media(max-width: 770px){
        width: 98%;
        order: -1;
        margin: auto;
    }
    @media(max-width: 550px){
        height: 44px;
        margin: auto;
    }
}

