@import '../../../../../../constants/variables';

.headersearchbarinput {
    display: flex;
    align-items: center;
    width: 85%;
    height: 44px;
}
.headersearchbarinput:hover {
    cursor: pointer;
}
.headersearchbarinputtext {
    @include productdaycardText1;
    margin-left: 5px;
}
